body {
  padding-bottom: 30px;
}

.container {
  display: inline-flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: center;
}

.playlist-container,
.episode-container {
  background-color: rgb(255, 255, 255, 0.3);
  border: black 1px solid;
  border-radius: 5px;
  margin: 10px;
  flex-basis: auto;
  min-width: 450px;
  min-height: 700px;
}

.content-area {
  background-color: rgb(255, 255, 255, 0.7);
  border: #000000 1px solid;
  border-radius: 5px;
  width: 85%;
  min-height: 80%;
  max-height: 570px;
  margin: 20px auto;
  overflow: auto;
}

.heading {
  margin-bottom: 5px;
}

.episode {
  background-color: rgb(236, 205, 205, 0.5);
  border-radius: 5px;
  border: black 1px solid;
  width: 80%;
  margin: 5px auto;
  cursor: pointer;
  padding: 5px;
}

.episode:hover {
  box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
}

.episode.clicked {
  max-width: 360px;
}

/* These apply to "Playlists" list - /my_playlists */
.all-page-container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.container-playlists {
  background-color: rgb(255, 255, 255, 0.4);
  border: black 1px solid;
  flex-basis: 90%;
  padding: 15px;
  margin: 10px 5px;
  min-height: 20rem;
  max-height: 20rem;
  cursor: pointer;
  overflow: hidden;
}

.container-playlists:hover {
  box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
}

.list-heading {
  font-size: 20px;
}

.playlist-episode-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playlist-episode {
  background-color: rgb(255, 255, 255, 0.7);
  border: black 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 3px 0;
  min-width: 336px;
}

/* These belong to the edit view */
#container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  /* justify-content: center; */
}

.edit-container-playlists,
.episode-container-edit {
  flex-basis: auto;
  background-color: rgb(255, 255, 255, 0.4);
  border: black 1px solid;
  padding: 15px;
  margin: 0 5px;
  min-width: 450px;
  max-height: 600px;
  cursor: pointer;
}

.edit-container-playlists {
  overflow: auto;
}

.edit-playlist-episode {
  border: black 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 3px 0;
}

.content-area-edit {
  /* border: #000000 1px solid; */
  border-radius: 5px;
  width: 85%;
  min-height: 80%;
  max-height: 470px;
  margin: 20px auto;
  overflow: auto;
}

#name {
  margin-bottom: 20px;
}

.episode-name {
  margin-left: 30px;
}

.delete-button {
  margin-top: 10px;
}

input {
  margin-bottom: "15px";
  min-height: "30px";
  font-size: "15px";
  font-family: "monospace";
}
