.container {
  display: inline-flex;
  flex-direction: row;
  /* flex-wrap: nowrap; */
  justify-content: center;
}
/* 
.playlist-container {
  
}

.episode-container {
  
} */

.playlist-container,
.episode-container {
  border: black 1px solid;
  margin: 10px;
  flex-basis: auto;
  min-width: 450px;
  min-height: 700px;
}

.content-area {
  border: black 1px solid;
  width: 80%;
  min-height: 80%;
  margin: 20px auto;
  /* padding: 15px 0; */
}

.heading {
  margin-bottom: 5px;
}

.episode {
  border: black 1px solid;
  width: 80%;
  margin: 5px auto;
  cursor: pointer;
}

.episode:hover {
  box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
}

/* These apply to "Playlists" list - /my_playlists */
.container-playlists {
  border: black 1px solid;
  display: inline-block;
  padding: 15px;
  margin: 10px 5px;
  min-height: 20rem;
  cursor: pointer;
}

.container-playlists:hover {
  box-shadow: 3px 3px 3px gray;
  border-radius: 5px;
}

.list-heading {
  font-size: 20px;
}

.playlist-episode-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.playlist-episode {
  border: black 1px solid;
  border-radius: 5px;
  padding: 15px;
  margin: 3px 0;
}

/* These belong to the edit view */

.edit-container-playlists {
  border: black 1px solid;
  display: inline-block;
  padding: 15px;
  margin: 0 5px;
  min-height: 20rem;
  cursor: pointer;
}

.edit-playlist {
}

.edit-playlist-episode {
  border: black 1px solid;
  border-radius: 5px;

  padding: 15px;
  margin: 3px 0;
}

#name {
  margin-bottom: 20px;
}
.episode-name {
  margin-left: 30px;
}

.delete-button {
  margin-top: 10px;
}
