#root {
  max-width: 1300px;
  min-width: 950px;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

#circle-container {
  max-height: 105px;
  display: flex;
}

.circle {
  margin: 20px;
  width: 150px;
  height: 100px;
  border-radius: 50%;
  padding-top: 50px;
  border: 2px solid #000;
}

.circle:hover {
  border-radius: 5px;
}
