.dropdown-menu {
  width: 200px;
  position: absolute;
  top: 142px;
  list-style: none;
  text-align: start;
  padding: 10px;
}

.dropdown-menu li {
  background-color: rgba(255, 255, 255, 0.625);
  cursor: pointer;
}

.dropdown-menu li:hover {
  background-color: rgba(230, 197, 243, 0.8);
}

.dropdown-menu.clicked {
  display: none;
}

.dropdown-link {
  display: block;
  height: 100%;
  width: 100%;
  text-decoration: none;
  color: #000;
  font-family: monospace;
  font-size: 1rem;
  padding: 10px;
}

.dropdown-link:hover {
  color: rgb(54, 117, 104);
}

@media screen and (max-width: 960px) {
  .fa-caret-down {
    display: none;
  }
}
