.navbar {
  display: flex;
  flex-wrap: nowrap;
  background-color: rgba(255, 255, 255, 0.525);
  border-radius: 1rem;
  padding: 1rem;
  box-shadow: 1px 3px 4px grey;
  width: 792px;
  margin: 0 auto;
}

.navbar__item {
  flex-basis: 20%;
  list-style-type: none;
  text-align: center;
  margin: auto;
  padding: 0 10px;
}

.navbar__logout {
  margin-left: auto;
}

.navbar__link {
  text-decoration: none;
  color: black;
  font-family: monospace;
  font-size: 1.25rem;
}

.navbar__link:hover {
  text-decoration: underline;
  color: rgb(248, 6, 248);
}
