body {
  background: linear-gradient(
    123.5deg,
    rgb(244, 219, 251) 29.3%,
    rgb(255, 214, 214) 67.1%
  );
  border-radius: 30px;
  margin: 0 30px;
  min-height: fit-content;
}

.auth-container {
  border: 1px solid gray;
  background: rgb(255, 255, 255, 0.3);
  margin: 3rem auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 650px;
}

.header {
  font-size: 2rem;
}

.auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-form-input {
  padding: 0.25rem;
}

.register-link {
  text-align: center;
}

.auth-fieldset {
  margin: 0.25rem 0rem;
}

input,
textarea {
  border-radius: 5px;
}
